[submodule "contrib/epee"]
	path = contrib/epee
	url = https://github.com/xcn-project/epee
	branch = master
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/xcn-project/miniupnp
	branch = master
